<div>
    <form class = "box mx-6 my-6 formReveal createPost">  
        <div class="field">
            <label class="label" for="postTitle">Post Title</label>
            <div class="control">
                <input class="input" type="text" placeholder="Blog Post Title" id="postTitle">
            </div>
        </div>
    
        <div class="field">
            <label class="label" for="postBody">Body</label>
            <div class="control">
                <textarea class="textarea" type="textarea" placeholder="Enter text here..." id="postBody"></textarea>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button class="button is-link" id="createPost">Post</button>
            </div>
    </form>
</div>

<script src="/js/createPost.js"></script>