<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">

    <form class="form new-blogPost-form">
      <div class="form-group">
        <label for="blogPost-title">Title:</label>
        <input class="form-input" type="text" id="blogPost-title" name="blogPost-title" />
      </div>
      <div class="form-group">
        <label for="blogPost-postBody">Make a Post:</label>
        <textarea class="form-input" id="blogPost-postBody" name="blogPost-postBody"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Post</button>
      </div>
    </form>
  </div>

  {{#if blogposts.length}}
  <div class="col-md-6 blogPost-list">
    <h3>Previous Posts:</h3>

    {{#each blogposts as |post|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/posts/{{post.id}}">{{post.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="/js/profile.js"></script>
